
:root {
    --primary-color: #27AE60;
    --secondary-color: #E5E5E5;
    --terciary-color: #333333;
    --background-color: #E5E5E5;
    --accent-color: #82B1FF;
    --error-color: #FF5252;
    --info-color: #2196F3;
    --success-color: #4CAF50;
    --warning-color: #FFC107;
  }
  
  .toast-container {
    font-family: 'Roboto', sans-serif !important;
  }